
.RemindersHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
    
} 

.ReminderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    text-align: center;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-height: 500px;
    margin-bottom: 10px;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    ;
    

}

.RemindersText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}