.ReminderContainer {
    min-width: 80%;
    text-align: center;
    position: relative;
    top: 15px;      
}



#remindersHeader {
    text-shadow: 2px 2px grey;
    margin-bottom: 50px;
    text-transform: uppercase;
}




/* .ReminderContainer {
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    text-align: center;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-height: 500px;
    margin-bottom: 10px;

    color: rgb(255, 255, 255);
    
} */




/* 
.RemindersHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
    
} 

.welcome {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 35px;
}

.todayIs {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.reminders {
    overflow-y:auto;
    -webkit-overflow-scrolling: auto;
    margin-bottom: 15px;
}

.RemindersText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.text {
    color: white;

}

Table {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.39);
    box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.39)
}

.reminderForm {

        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        
    
}


.reminderForm__title {
    text-align: center;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#reminder__message {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

#reminder__date {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;

}
 */
