
.RemindersHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
    
} 

.welcome {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 35px;
}

.todayIs {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.ReminderContainer {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    text-align: center;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-height: 500px;
    margin-bottom: 10px;
    overflow-y:auto;
    -webkit-overflow-scrolling: auto;
    color: rgb(255, 255, 255);
    
}


.RemindersText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.text {
    color: white;

}

Table {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.39);
    box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.39)
}

.reminderForm {

        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        
    
}