.silhouetteImg {
    height: 75px;
    width: 100px
}

.InventoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    text-align: center;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 716px;
    max-height: 500px;
    margin-bottom: 10px;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}