.InventoryContainer {
    min-width: 80%;
    text-align: center;
    position: relative;
    top: 15px;
    margin-bottom: 0;
    padding: 0px;
}

.InventoryTable {
    overflow-y:auto;
    -webkit-overflow-scrolling: auto;
    max-height: 500px;
}

.InventoryTable th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.InventoryTable thead {
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* specific sizing for each column of inventory to space things out better */
    .inventoryPicCol {
        width: 15%
    }

    .inventoryBrandCol {
        width: 10%
    }

    .inventoryNameCol {
        width: 15%
    }

    .inventoryPriceCol {
        width: 12%;
    }

    .inventoryMarketCol {
        width: 14%
    }

    .inventorySizeCol {
        width: 5%;
    }

    .inventoryQtyCol {
        width: 5%;
    }

    .inventoryActionsCol {
        width: 20%;
    }

#inventoryHeader {
    text-shadow: 2px 2px grey;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#inventoryTableRow {
    align-items: stretch;
}

#silhouetteImg {
    max-width: 100px;
    height: auto;
}

#inventoryBrand {
    text-transform: capitalize;
}

#inventoryName {
    text-transform: capitalize;
}

.totalsContainer {
    padding-top: 0;
    margin-top: 0;
}

/* ******************************************
for inside InventoryDetails modal 
****************************************** */

.shoeDetailsImage {
    max-width: 90%;
    justify-content: space-around;
}

.inventoryDeleteBtn {
    justify-content: right;
}

























/* .totalsContainer {
    font-size: 1.10rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    position: fixed;
    text-align: center;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-height: 500px;
    color: white;
    
} */

/* #inventory__sku{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

#inventory__brand{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

#inventory__name{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

#inventoryHeader{
    text-align: center;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.inventoryModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
    
}

#sbs{
    justify-content: center;
    transform: translate(141%, 0%);
}

#sbnb{
    transform: translate(65%, 0%);
}

#apiResults{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#apiSave{
    width: 100%;
}

#inventory__quantity {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

#inventory__size {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

#inventory__pricePaid {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

#newInvDetailsHeader{
    text-align: center;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#newInvDetailsBtn{
    display: flex;
    flex-direction: column;
    text-align: center;
}


#newInvDetailsInputs{
    display: flex;
    flex-direction: column;
    text-align: center;

}
 */
