#expandTrackingBtn {
    color: lightgray
}

#apiResults {
    line-height: normal;
    font-size: 1.15rem;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    text-transform: uppercase;
}

#shippingDetails {
    font-size: 1rem;
}

.TrackingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    text-align: center;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-height: 500px;
    margin-bottom: 10px;
    overflow-y:auto;
    -webkit-overflow-scrolling: auto;
    margin-bottom: 15px;
}

#trackingModal {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}

#trackingNumberInput {
text-align: center;
font-family:sans-serif;
}

#carrierInput {
    text-align: center;
font-family:sans-serif;
}

#trackingButton {
    font-family: sans-serif;
    text-transform: uppercase;
}