/* 
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); */


.navBar {
    text-transform: uppercase;
    text-align:start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 100px;
    max-height: 500px;
    margin-bottom: 10px;

}