/* styling to add background to entire application */


.wholePageBackground {
  background-image: url('./components/Images/newbg.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  .wholePageBackground {
    left: 50%;
    margin-left: -512px; 
  }
}

.wholePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}