



.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
} 

#exampleEmail {
    text-align: center;
}

#exampleUsername {
    text-align: center;
}

