/* body {
    background-image:url("https://i.pinimg.com/originals/0b/25/2c/0b252ce02adfb06744cc7747d10c3e67.jpg");

    
    
}


.registerHeader {

    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      } */
